
<nav class="navbar">
    <div class="logo">FoodDelivery</div>   
    <ul class="nav-links">
      <li class="nav-item"><a routerLink="/">Home</a></li>      
      <li class="nav-item"><a routerLink="/menuitem">Menu</a></li>
      <li class="nav-item"><a routerLink="/order">Order</a></li>
      <li class="nav-item"><a routerLink="/login">Login</a></li>
      <!--<li class="nav-item"><a routerLink="/register">Sign up</a></li>-->
      <li class="nav-item"><a routerLink="/adminlogin">Admin</a></li>

    </ul>
  </nav>
  


