<footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-section about">
          <h3>Online Food Delivery</h3>
          
        </div>
  
        <div class="footer-section contact">
          <h3>Contact</h3>
          <p>Phone: +91 99999 88888</p>
          <p>Email: support&#64;foodie.com</p> <!-- Fixed Email Issue -->
        </div>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>© 2025 Online Food Delivery | All Rights Reserved.</p>
    </div>
  </footer>
  
  