<div class="container">
    <h2>Menu List</h2>
  
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Item Name</th>
          <th>Price (₹)</th>
          <th>Restaurant Name</th>
          <th>Restaurant Address</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let menu of menuItems">
          <td>{{ menu.id }}</td>
          <td>{{ menu.name }}</td>
          <td>{{ menu.price }}</td>
          <td>{{ menu.restaurant?.name }}</td>
          <td>{{ menu.restaurant?.address }}</td>
          <td>
            <button class="btn btn-sm btn-outline-success" (click)="orderFood(menuItems)">
              <i class="bi bi-cart-plus"></i> Order
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

